*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

:root{
    --primary-color: #F0572D;
    --grey: #31363F;
    --black: #191B1D;
    --soft-grey: #DFE4EA;
    --white: ##E5E5E5;
}

h1, h2, h3, h4 { font-weight: 700; }
h1 { font-size: 24pt; }
h2 { font-size: 20pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }

.button1 {
    font-weight: 700;
    font-size: 14pt;
}

.button2 {
    font-weight: 700;
    font-size: 16pt;
}

.text1 {
    font-weight: 500;
    font-size: 14pt;
}

.text2 {
    font-weight: 500;
    font-size: 12pt;
}
