main {
    padding-top: 82px;
    height: calc(100vh - 55px);
    background-color: var(--soft-grey);
    @media screen and (min-width: 768px){
        padding-top: 100px;
        height: calc(100vh - 98px);
    }
    @media screen and (min-width: 1024px){
        padding-top: 90px;
        height: calc(100vh - 98px);
    }
}