.product-location {
    background-color: var(--soft-grey);
    display: flex;
    padding: 14px 10px;
    justify-content: space-between;
    .location {
        width: 60%;
        color: var(--black);
        font-size: 14px;
        display: flex;
        i {
            font-size: 14px;
            padding-right: 6px;
            position: relative;
            top: 3px;
        }
    }
}